{{!< default}}

{{#post}}
  <article class="post-shell shell {{post_class}}">
    <header class="post-heading">
      {{#if primary_tag}}<p class="eyebrow">{{primary_tag.name}}</p>{{/if}}
      <h1>{{title}}</h1>
      <p class="post-heading__date">{{date format="D MMMM YYYY"}}</p>
    </header>
    {{#if feature_image}}
      <figure class="post-image">
        <img src="{{img_url feature_image size="l"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
      </figure>
    {{/if}}
    <div class="prose">
      {{content}}
    </div>
  </article>
{{/post}}
